<div class="container mt-5">
  <h2 class="text-center text-primary mb-4">🛍️ Productos disponibles</h2>

  <div class="row g-4">
    <div class="col-md-4" *ngFor="let p of productos">
      <div class="card h-100 shadow-sm">
        <img [src]="p.imagen" class="card-img-top" alt="{{p.nombre}}">
        <div class="card-body">
          <h5 class="card-title">{{ p.nombre }}</h5>
          <p class="card-text text-muted">{{ p.descripcion }}</p>
          <p class="fw-bold text-success">S/ {{ p.precio }}</p>
          <button class="btn btn-primary w-100" (click)="agregarAlCarrito(p)">
            Agregar al carrito 🛒
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
